* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header input {
	outline:0;
	border:0;
	margin:2em;
}

header {
	border-bottom: 1px solid black;
	margin-bottom:.5em;
}

header label {
	display:none;
}

body {
	font-family: 'PT Sans', sans-serif;
	background-color:#F3F5F6;
}

li {
	display:flex;
	margin:0 .5em .5em 3em;
	align-items:center;
}

.letter-container {
	display:flex;
	position: relative;
	transition: all 1s;
}

.delete {
	display:none;
	transition: all 1s;
}

h1 {
	margin-left:.5em;
	font-size:1.5em;
	position: absolute;
}

.fixed {
	position:fixed;
	top:0;
}

li:last-child {
	margin-bottom:2em;
	/*background-color:red;*/
}

.hidden {
	display:none;
}

li a {
	margin-left:.5em;
}

li img {
	width:4em;
	height:4em;
	border-radius:2px;
	box-shadow:0px 1px 1px #888;
}



